.desktopSearchCont {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0;
  z-index: 1;
  .subContainer {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    .tubeIcon {
      display: flex;
      svg {
        color: red;
        font-size: 2.2rem;
      }
      p {
        position: relative;
        margin: 0;
        font-weight: 700;
        font-size: 1.5rem;
        &:after {
          content: "EG";
          font-size: 15px;
          position: absolute;
          color: #b6b6b6;
          right: -15px;
          top: -5px;
        }
      }
    }
    .search {
      margin: auto 0;
      input {
        width: 15rem;
        height: 1.5rem;
        border-radius: 3px;
        border: 1px solid #8aa1b7;
      }
      button {
        height: 1.7rem;
        width: 3rem;
        background-color: #f8f8f8;
        color: #8a8a8a;
        border: 1px solid #d8d8d8;
        cursor: pointer;
      }
    }
  }
}

.mobSearch {
  display: flex;
  background-color: red;
  padding: 1rem;
  height: 2rem;
  .youatube {
    color: white;
    font-size: 2.5rem;
    align-self: center;
  }
  .searchIcon {
    color: white;
    font-size: 2rem;
    margin-left: auto;
    align-self: center;
  }

  p {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    margin: 0;
    margin-left: 5px;
  }
  input {
    width: 70%;
    height: 1.5rem;
    border-radius: 3px;
    border: 1px solid #8aa1b7;
    margin: auto;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
  }
}

.desktopFilterCont {
  width: 85%;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
  font-size: 1rem;
  p {
    margin: 0;
    color: #6d6d6d;
  }

  div {
    display: flex;
    gap: 10px;
    svg {
      margin-top: 5px;
    }
  }
}
.mobFilterCont {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #efefef;
  gap: 10px;
  select {
    padding: 10px 1rem;
  }
}
