.mainCont {
  width: 85%;
  margin: auto;
  .videoCont {
    gap: 10px;
    display: grid;
    grid-template-columns: 16rem auto;
    margin-top: 1rem;
    .imgContainer {
      position: relative;
      .img {
        width: 16rem;
        display: block;
        margin: auto;
      }
      .roundImg {
        display: block;
        border-radius: 50%;
        width: 11rem;
        margin: auto;
      }
      .modal {
        position: absolute;
        width: 40%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        right: 0;
        top: 0;
        text-align: center;

        svg {
          font-size: 2rem;
          color: white;
          margin-top: 50%;
        }
      }
    }
    .title {
      font-size: 1.1rem;
      font-weight: 600;
    }
    .description {
      font-size: 1rem;
      color: #928e8d;
    }
    .channel {
      font-size: 1rem;
      color: #8f989f;
      margin: 8px 0;
    }
  }
  .moreBtn {
    background-color: red;
    color: white;
    padding: 10px 3rem;
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin: 2rem auto;
  }
}
@media (max-width: 600px) {
  .mainCont {
    width: 100%;

    .videoCont {
      grid-template-columns: 12rem auto;
      padding: 0 10px;
      .imgContainer {
        position: relative;
        .img {
          width: 12rem;
        }
        .roundImg {
          width: 8rem;
        }

        .modal {
          svg {
            font-size: 1.3rem;
          }
        }
      }
      .title {
        font-size: 0.8rem;
        font-weight: 600;
      }
      .description {
        display: none;
      }
      .channel {
        font-size: 0.7rem;

        margin: 8px 0;
      }
    }
  }
}
